In [ ]:
#sriya kolluru
#25070123130
##Creation of Dictionary

In [ ]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964

}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [ ]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "year": 2020

}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
len(thisdict)

3

In [ ]:
# changing/Adding key:value in dictionary
car = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
}
car["color"] = "red"
print(type(car))
print(car)
x=car.values()
print(x) #after the change

<class 'dict'>
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [ ]:
student = {
    "name": "Amit",
    "roll": 101,
    "branch": "entc"
}
print("name:",student["name"])

name: Amit

In [ ]:
# removing elements
student.pop("roll")
print("After removal:",student)

After removal: {'name': 'Amit', 'branch': 'entc'}

In [ ]:
'''1.Dictionary stores product names and their prces.
Write a Python program to update the price of a given product.'''

products = {"Pen": 10, "Book": 50,"Scale": 20}
print("Original Prodcuts:", products)
products["Book"] = 55

Original Prodcuts: {'Pen': 10, 'Book': 50, 'Scale': 20}

In [ ]:
'''Write a python program to search for a student's marks using the name. If the student is not found,display a suitable message.'''

In [ ]:
marks = {"A": 85,"B": 72, "C": 90}
name = input("Enter student name:")
print(marks.get(name,"Student not found"))

Enter student name:D
Student not found

In [ ]:

'''3. A dictionary stores usernames and passwords.
Write a Python program to validate user login.'''
users = {"admin": '1234', "student": "abcd"}
user_name = input("Username: ")
pw = input("Password: ")

if users.get(user_name) == pw:
  print("Login Successfull")
else:
  print("Invalid Username or Password")

Username: sriya
Password: 7847
Invalid Username or Password

In [ ]:
#4

marks = {"A": 85, "B":92, "C": 78}
topper = max(marks, key=marks.get)
print("Topper:", topper)
print("Marks:" , marks[topper])

Topper: B
Marks: 92